<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid"> <a class="brand" href="javascript:void(0);"> <small> <img style="height:45px;" src="/assets/images/home_logo.png" alt="管理后台"/> </small> </a>
      <div class="lianjie">
        <ol>
          <li><a href="http://www.easemob.com" target="_blank"><h5>主页</h5></a></li>
          <li><a href="http://www.easemob.com/docs/gettingstart/" target="_blank"><h5>文档</h5></a></li>
          <li><a href="http://www.easemob.com/faq" target="_blank"><h5>帮助</h5></a></li>
          <li><a href="http://www.easemob.com/sdk" target="_blank"><h5>下载SDK</h5></a></li>
        </ol>
      </div>
      <ul class="nav ace-nav pull-right">
        <li class="light-blue user-profile"> <a class="user-menu dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown"> <span id="user_info"></span> <i class="icon-caret-down"></i> </a>
          <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
            <li class="divider"></li>
            <li> <a href="/admin_home"> <i class="icon-user"></i> 账户 </a> </li>
            <li> <a onClick="logout();" href="javascript:void(0);"> <i class="icon-off"></i> 退出 </a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Header Start --><!--
<div id="header">
  <div class="w990">
    <div class="logo">
      <a href="http://www.easemob.com">
        <img alt="环信即时通讯云" src="/img/e_logo.png">
      </a>
    </div>
    <div class="nav">
      <ul id="menu_topmenu" class="menu">
        <li class="menu-item menu-item-one">
          <a href="/">首页</a>
        </li>
        <li class="menu-item menu-item-one">
          <a href="/docs/gettingstart/">文档</a>
        </li>
        <li class="menu-item menu-item-one">
            <a href="javascript:void(0);">下载</a>
            <ul class="sub-menu">
              <li class="menu-item">
                  <a href="/demo">下载环信demo</a>
              </li>
              <li class="menu-item">
                  <a href="/sdk">下载环信SDK</a>
              </li>
            </ul>
        </li>
        <li class="menu-item menu-item-one">
          <a href="/faq">FAQ</a>
        </li>
        <li class="menu-item menu-item-one">
          <a href="http://faq.easemob.com/explore" target="_blank">开发者社区</a>
        </li>
        <li class="menu-item menu-item-one">
          <a href="/price">价格</a>
        </li>
        <li class="menu-item menu-item-one">
          <a href="/changes">博客</a>
        </li>
      </ul>
    </div>
    <div class="login">

      <div class="nav_ntes">
        <span id="J_nonelogin" style="display: none;">
          <a class="lg_btn" href="https://console.easemob.com/?comeFrom=easemobHome" target="_parent">注册</a>
          |
          <a class="lg_btn" href="https://console.easemob.com/" target="_parent">登录</a>
        </span>
        <ul id="J_login" class="ace-nav" style="display: none;">
            <li class="light-blue user-profile"> <a class="user-menu dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown"> <span id="user_info"></span> <i class="icon-caret-down"></i> </a>
              <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                <li class="divider"></li>
                <li> <a href="/admin_home"> <i class="icon-user"></i> 账户 </a> </li>
                <li> <a onClick="logout();" href="javascript:void(0);"> <i class="icon-off"></i> 退出 </a> </li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
-->
<!-- Header End -->
<div class="opMaskLayer hide"></div>

<!--<div id="register_user" class="popWindow hide">
  <span class="pop_colsebtn"></span>
  <iframe src="http://console.easemob.com/" height="600" width="100%" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0"></iframe>
</div>
<div id="sign" class="popWindow hide">
  <span class="pop_colsebtn"></span>
  <iframe src="http://console.easemob.com/" height="600" width="100%" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0"></iframe>
</div>-->
